
.symptoms{
    background:url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.symptoms .column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoms .column .main-image img{
    width: 43vh;
}

.symptoms .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.symptoms .column .box-container .box{
    margin:1rem;
    text-align: center;
}

.symptoms .column .box-container .box img{
    width:20rem;
    padding:1rem;
}

.symptoms .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}
.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.prevent .box-container .box{
    flex:1 1 20rem;
    border-radius: .5rem;
    margin:1rem;
    padding:.4rem;
    text-align: center;
}
.prevent .box-container .box img{
    height:7rem;
    padding:.1rem;
}

.prevent .box-container .box h3{
    color:var(--blue);
    font-size: 2rem;
}

.prevent .box-container .box p{
    color:var(--dark-blue);
    font-size: 1.4rem;
    padding:.1rem;
}
.heading h1{
    font-size: 65px;
}

.prevent .box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgba(14, 1, 1, 0.1);
}
